.demo-list {
  height: 68vh;
  .demo-list-title {
    width: 100%;
    font-size: 32px;
    color: #f8f8f8;
    text-align: center;
  }
}
.temp-list-view {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.empty-text {
  margin-top: 20vh;
  width: 100%;
  font-size: 28px;
  color: #c7c7c7;
  text-align: center;
}
